<navbar></navbar>
<div class="container">
    <div class="panel panel-default col-md-5 custom-panel" >
        <div class="panel-heading">Enter name for a company to search the market for </div>
        <div class="panel-body">
            <div >
                <input  type="text" class="form-control custom-margin" name="Company" placeholder="Stock Name" ng-model="company" >

                <button type="submit" class="btn btn-default"  ng-click="getCompany(company)">Create</button>
            </div>
        </div>
    </div>

    <div class="panel panel-default col-md-5 col-lg-offset-1 custom-panel" >
        <div class="panel-heading">Enter string to search for in rss news feed : </div>
        <div class="panel-body">
            <div >
                <input  type="text" class="form-control custom-margin" name="Company" placeholder="String" ng-model="text" >

                <button type="submit" class="btn btn-default"  ng-click="getNews(text)">Create</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="panel panel-default col-md-5 custom-panel ">
        <div class="panel-heading"> Analysis of Stock Data for {{stockList[1].company}}</div>
        <div class="panel-body">
            <h4>Avreage price of stock:</h4>
            <p>{{totalPrice}}</p>
            <h4>Times the stock was up:</h4>
            <p>{{timeUp}}</p>
            <h4>Times the stock was down:</h4>
            <p>{{timesDown}}</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="panel panel-default col-md-5 custom-panel">
        <div class="panel-heading"><input placeholder="Filter data" ng-model="searchText"></div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Stock Name</th>
                <th>Stock price</th>
                <th>Stock change</th>
                <th>Stock date</th>

            </tr>
            </thead>
            <tr ng-repeat="stocks in stockList | filter:searchText" >
                <td> {{stocks.company}} </td>
                <td> {{stocks.price}} </td>
                <td>{{stocks.percent_change}}</td>
                <td>{{stocks.created_at}}</td>
            </tr>
        </table>
    </div>
    <div class="panel panel-default col-md-5 custom-panel col-lg-offset-1">
        <div class="panel-heading"><input placeholder="Filter data" ng-model="searchText"></div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
            </tr>
            </thead>
            <tr ng-repeat="news in newsList | filter:searchText" >
                <td> {{news.title}} </td>
                <td>{{news.created_at}}</td>
            </tr>
        </table>
    </div>
</div>


